// СЕКЦИЯ БАНЕРА СТАТЕЙ И АКЦИЙ
.personal {
  background: url('https://svgshare.com/i/18v3.svg') 100% 40% no-repeat;
  margin-bottom: min(3vw, 25px);

  &__wrapper {
    display: grid;
    grid-template-areas:
        "banner articles"
        "banner actions";
    grid-template-columns: 960px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    @media (max-width: 1760px) {
      grid-template-columns: 930px 1fr;
    }

    @media (max-width: 1710px) {
      grid-template-columns: 914px 1fr;
    }

    @media (max-width: 1678px) {
      grid-template-columns: 880px 1fr;
    }

    @media (max-width: 1620px) {
      grid-template-columns: 863px 1fr;
    }

    @media (max-width: 1588px) {
      grid-template-columns: 846px 1fr;
    }

    @media (max-width: 1560px) {
      grid-template-columns: 825px 1fr;
    }

    @media (max-width: 1536px) {
      grid-template-columns: 808px 1fr;
    }

    @media (max-width: 1520px) {
      grid-template-areas:
        "banner banner"
        "articles actions";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto;
    }

    @media (max-width: 1279px) {
      grid-template-areas:
        "banner banner"
        "articles articles"
        "actions actions";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @media (max-width: 767px) {
      gap: 10px;
    }
  }

  // БЛОК БАННЕРА
  &-banner {
    grid-area: banner;

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    &-item {

      &__link {
        display: block;
        overflow: hidden;
        height: 100%;
      }

      &__img {
        width: 100%;
        height: 100%;
        max-height: 530px;
      }
    }
  }

  // БЛОК ПРО ЛАЗЕРКАТ
  &-about {
    position: relative;
    grid-area: articles;
    overflow-x: hidden;

    &__title {
      display: flex;
      font-family: $fontHeading;
      font-size: 15px;
      font-weight: 700;
      margin: 7px 0 17px;

      &::before {
        content: '';
        display: block;
        position: relative;
        top: -2px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: $mainWhiteColor url('https://svgshare.com/i/189z.svg') center / 80% no-repeat;
        margin-right: 5px;
      }
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {

      &__link {
        display: block;
        border: 1px solid #DCE4F0;
        border-radius: 12px;
        overflow: hidden;
      }

      &__img {
        width: 100%;
        height: 100%;
      }

      &--demo {
        @media (min-width: 768px) {
          display: none;
        }
      }

      &--action {
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  // БЛОК АКЦИИ
  &-actions {
    grid-area: actions;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 767px) {
      column-gap: 15px;
    }

    &-item {

      &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
      }

      &__img {
        width: 100%;
        height: 100%;
        max-height: 183px;

        @media (max-width: 1279px) {
          max-height: none;
        }
      }
    }

  }
}

// СЕКЦИЯ КАТЕГОРИЙ
.categories {
  margin-bottom: min(3vw, 110px);

  &__wrapper {
    position: relative;
  }

  &__title {
    font-family: $fontHeading;
    font-size: clamp(14px, 3vw, 22px);
    margin: 10px 0;

    @media (max-width: 767px) {
      line-height: 2.5;
    }
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    margin: 0;

    @media (max-width: 767px) {
      padding: 7px 0;
    }
  }

  &-item {

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: inherit;
      padding-top: 7px;

      &:hover, &:focus {
        .categories-item__img {
          transform: scale(1.1);
        }

        .categories-item__text {
          color: $primary-color;
        }

        .categories-item__img-cnt {

          &::before {
            content: '';
            opacity: 1;
          }
        }
      }
    }

    &__img-cnt {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
                      to bottom,
                      #F5F8FF 30%,
                      #DDE4F5 59%,
                      #FFFFFF 85%);
      border: 1px solid #DCE4F0;
      border-radius: 12px;
      max-width: 120px;
      min-height: 120px;
      transition: box-shadow 0.3s ease-in;
      margin-bottom: 15px;

      @media (max-width: 900px) {
        max-width: 63px;
        min-height: 63px;
        margin-bottom: 5px;
      }


      &::before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: inherit;
        background: linear-gradient(to bottom, #FF0000, #0094DA);
        filter: blur(3px);
        transition: opacity 0.3s ease-in;
        opacity: 0;
        z-index: -1;

        @media (max-width: 767px) {
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in;
    }

    &__text {
      font-size: 14px;
      line-height: 1.3;
      max-width: 100px;
      margin: 0 auto;
      text-align: center;
      transition: color 0.3s ease-in;
    }
  }
}