.idea
.vercel
node_modules/
package-lock.json

css/style.css.map

css/null.css
css/null.css.map

css/params.css
css/params.css.map

css/swiper.css
css/swiper.css.map

css/header.css
css/header.css.map

css/personal.css
css/personal.css.map